 body{
 <body background:#66e0ff>.
  }
  
  header{ 
   background: #FFFFFF; color= #65FCBE;
}

h1{
 text-align: Center; color: #400FF0; size: 5;
}
body{
  
   float;  center;/>
  <h2 text-align: center;>Kunaal Pasumarti</h2>
  <body background-color:#65FCBE; float: middle;>
  width="35%" float: right;/>
  
